:root {
    --vs-dropdown-bg: var(--phoenix-secondary-bg-color);
    --vs-dropdown-color: var(--phoenix-secondary-bg-color);
    --vs-dropdown-option-color: var(--bs-body-color);
    --vs-selected-bg: #ffc107;
    --vs-dropdown-option--active-bg: #ffc107;
    --vs-border-color: var(--bs-border-color);
    --vs-selected-color: #212529;
    --vs-controls-color: #212529;
    --vs-search-input-color: var(--bs-body-color);
    --vs-dropdown-option--active-color: #212529;
}


.vs__dropdown-toggle {
    background-color: var(--phoenix-secondary-bg-color);
}

.vs__dropdown-menu {
    border-top: var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);;
}